<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>We are learnning ejs</title>
</head>

<body>
  <h1>EJS is an Awesome Template engine</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, dolorum!</p>
</body>

</html>